@using WebApp.Frontend.Models;

<div class="card">
	<img src="@Product.ImageUrl" alt="@Product.Name" style="width:100%">
	<h1>@Product.Name</h1>
	<p class="price">@Product.Price руб.</p>
	<p>@Product.Description</p>
	<p><button>В корзину</button></p>
</div>

@code {
	[Parameter]
	public Product Product { get; set; }
}
